@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


/**************************/
/*       404 Styles       */
/**************************/

body {
	background: #333;
	display: flex;
	justify-content: center;
  }

.typewriter{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
  
  .typewriter h1 {
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: large;
	overflow: hidden;
	border-right: .15em solid rgb(255, 255, 255); 
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
	  typing 3.5s steps(30, end),
	  blink-caret .5s step-end infinite;
  	}
.typewriter a {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
	top: 45%;
	left: 45%;
	transform: translate(-45%,-45%);
	position: relative;
	color: #fff;
}

  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: rgb(255, 255, 255) }
  }
